[submodule "docs"]
	path = docs
	url = ../sven-sven.github.io.git
	branch = master
[submodule "themes/startbootstrap-clean-blog"]
	path = themes/startbootstrap-clean-blog
	url = git@github.com:devstknco/startbootstrap-clean-blog.git
[submodule "custom"]
	path = custom
	url = git@github.com:devstknco/hugo-custom-sven.git
