{{ $src1 := .Get `src1` }} {{ $src2 := .Get `src2` }}
<div class="row">
    <div class="col-md-6 grid-img">
        <a href='javascript:void(null)' onclick="window.open('{{ $.Site.BaseURL}}{{ replace $src1 "--small" "" }}')" >
            <img src="{{ $.Site.BaseURL}}{{ .Get "src1" }}"  class="img-responsive" {{ with `alt1`}}alt="{{.}}"{{ end }}>
        </a>
    </div>
    <div class="col-md-6 grid-img">
        <a href="#" data-toggle="modal" onclick="window.open('{{ $.Site.BaseURL}}{{ replace $src2 "--small" "" }}')">
            <img src="{{ $.Site.BaseURL}}{{ .Get "src2" }}"  class="img-responsive" {{ with `alt2`}}alt="{{.}}"{{ end }}>
        </a>
    </div>
</div>
